{% extends './layout.html' %}
{% block title%}Escoba 15{%endblock%}
{% block css %}<link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}">{%endblock%}
{%block body%}
    <input type="text" value="{{cartas}}" class="input">
    <div class="container">
        <div class="player">
            <div class="carta">
                <div class="content-cartas imagen">
                    <img src="{{ url_for('static',filename='cartasesp/reverso-min.png')}}">
                </div>
            </div>
            <div class="mesa">
                <div class="jugador1">
                    <div class="cartajugador ji1-1">
                        <img class="img-cartajugador1">
                        <input type="text" value="" class="input input-carta">
                    </div>
                    <div class="cartajugador ji1-2">
                        <img class="img-cartajugador1">
                        <input type="text" value="" class="input input-carta">
                    </div>
                    <div class="cartajugador ji1-3">
                        <img class="img-cartajugador1">
                        <input type="text" value="" class="input input-carta">
                    </div>
                </div>
                <div class="mesa-carta">
                    <div class="carta-mesa imagen">
                        <img class="img-mesa">
                        <input type="text" value="" class="input input-carta">
                    </div>
                    <div class="carta-mesa imagen">
                        <img class="img-mesa">
                        <input type="text" value="" class="input input-carta">
                    </div>
                    <div class="carta-mesa imagen">
                        <img class="img-mesa">
                        <input type="text" value="" class="input input-carta">
                    </div>
                    <div class="carta-mesa imagen">
                        <img class="img-mesa">
                        <input type="text" value="" class="input input-carta">
                    </div>
                </div>
                <div class="jugador2">
                    <div class="cartajugador imagen ji2-1">
                        <img class="img-cartajugador2">
                        <input type="text" value="" class="input input-carta">
                    </div>
                    <div class="cartajugador imagen ji2-2">
                        <img class="img-cartajugador2">
                        <input type="text" value="" class="input input-carta">
                    </div>
                    <div class="cartajugador imagen ji2-3">
                        <img class="img-cartajugador2">
                        <input type="text" value="" class="input input-carta">
                    </div>
                </div>
            </div>
        </div>
    </div>
    


{%block script%}
    <script src="{{ url_for('static',filename='index.js') }}"></script>
{%endblock%}
{%endblock%}