{% extends './layout.html' %}
{% block title%}AHORCADO{%endblock%}
{% block css %}<link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}">{%endblock%}
{% block js %}<script src="{{ url_for('static',filename='estilos.js') }}"></script>{% endblock %}
{%block body%}
    <input type="text" class="pal" value={{palabra.0}} style="display: none;">
    <input type="text" class="dif" value={{dif}} style="display: none;">
    <div class="container">
        <div class="subC">
            <div class="title"><p>AHORCADO</p></div>
            <div class="ahorcado">
                <div class="img-ahorcado">
                    <img class="imagen" src="static/img/1.png">
                </div>
            </div>
            <div class="palabra">
            </div>
        </div>
        <div class="mensaje display a">
            <p class="ganador display">Adivinaste la palabra sos un KAPO</p>
            <p class="perdedor display">Como no vas a adivinar</p>
            <p class="mPalabra display">Palabra: </p>
            <div class="si">
                <button class="reiniciar">Reiniciar</button>
                <button class="menu">VOLVER AL MENU</button>
            </div>
        </div>
    </div>
{%block script%}
    <script src="{{url_for('static',filename='index.js')}}"></script>
{%endblock%}
{%endblock%}