{% extends './layout.html' %}
{% block title%}Menu{%endblock%}
{% block css %}<link rel="stylesheet" href="{{ url_for('static',filename='menu.css') }}">{%endblock%}
{% block js %}<script src="{{ url_for('static',filename='estilos.js') }}"></script>{% endblock %}
{%block body%}

    <input type="text" value = {{nombre}} class="input" style="display: none;">
    <div class="container">
        <div class="menu">
            <div class="title a"><p>Menú</p></div>
            <div class="modo a">
                <p>Dificultad</p>
                <select class="elegir-modo">
                    <option value="facil">Facil</option>
                    <option value="medio">Medio</option>
                    <option value="dificil">Dificil</option>
                </select>
            </div>
            <div class="conectar a"></div>
                <form action="/conectar" method="POST" class="conectar a">
                    <input type="text" class="dificultad" name="dificultad" style="display: none;" value="facil">
                    <button class="btn-conectar" type="submit">Jugar</button>
                </form>
                <p><a href="/login.html" class="login">Cerrar Sesion</a></p>
            </div>
            
        </div>
    </div>
    {%block script%}
    <script src="{{ url_for('static',filename='menu.js') }}"></script>
    {%endblock%}
{%endblock%}