{% extends './layout.html' %}
{% block title%}Registro{%endblock%}
{% block css %}<link rel="stylesheet" href="{{ url_for('static',filename='estilo.css') }}">{%endblock%}
{%block body%}
        <div class="container">
            <div class="logreg">
                <div class="cabecera a">
                    <h1 class="obj">Registrarse</h1>
                </div>
                    <div class="inputs a">
                        <form action="/register" method="POST" class="inputs">
                            <input type="text" name="nombre" class="nombre obj" autocomplete="off" placeholder="Nombre">
                            <input type="password" name="pass" class="pass obj" autocomplete="off"  placeholder="Contraseña">
                            <button class="button" type="submit">Registrarse</button>
                        </form>
                    </div>
                    <div class="err a">
                        <p>
                            {% with messages = get_flashed_messages()  %}
                            {% if messages %}
                                <p>{{messages}}</p>
                            {% endif %}
                            {% endwith %}
                        </p>
                    </div>
                    <div class="boton a">
                        <p>Ya tienes una cuenta <a href="/login.html" class="login">Iniciar Sesión</a></p>
                    </div>
            </div>
        </div>
{%endblock%}